
<div class="card">
    <div class="card-title">
        <h4>Personal Details</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Customer Id</th>
                    <td>{{custId}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{customer.firstName}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{customer.lastName}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{customer.email}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{customer.username}}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{customer.password}}</td>
                </tr>
                <tr>
                    <th>Wallet Balance</th>
                    <td>{{customer.balance}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" (click)="goUpdate()">Edit</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="backToPortal()">Back to Portal</button>
</div>

