a{
    color: black;
}

.collapse navbar-collapse{
font-weight: bold;
font-style: italic;
}
#collapsibleNavId{
  background-image: url(/assets/b17.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   
}

 .navbar-brand{
  
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #ec0cbf 0%,
     #ffaa00 29%,
     #0c04ff 67%,
     #f80808 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 50% auto;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 50px;
  
  
  @keyframes textclip {
   to {
     background-position: 200% ;
   }
  }
  
  }
  
  p{
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-stretch: expanded;
  
  
  }

  
button{

    display: inline-block;
    background: rgba(220, 89, 19, 0.03);
    color: white;
    padding: 12px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: backgroud 0.5s;
  
  
}
 button:hover {
    background: rgb(113, 53, 53);
    color:black;
    padding: 8px;
    border: none;
    color: rgb(219, 117, 28);
    cursor: pointer;
  } 


  button:hover {
    background: white;
    color: black;
  } 
.collapse navbar-collapse{
 position: absolute;
 top: 10px;
left: 5px;
}
  