  
  <div class="content">
    
    <h1>Welcome to Shopping Application</h1>
    <p>
      <b>Online Shopping is revolutionizing the way we all shop in India. Why do you want to hop from one store to another in search of the latest phone when you can find it on the Internet in a single click? Not only mobiles. We have everything you can possibly imagine, from trending electronics like shoes, clothing and lifestyle accessories</b></p>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
        </li>
    </ul>
  </div>
